.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background: rgb(22, 23, 25);
}
.panel-top {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100vw;
}
.logo {
    position: absolute;
    width: 46px;
    height: 32px;
    left: calc((16200/1920)vw);
    top: 63px;

    background: url(../../images/icon/logo.png);
}
.deck-rating {
    position: absolute;
    width: 281px;
    height: 24px;
    left: 319px;
    top: 68px;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.languages {
    position: absolute;
    width: 71px;
    height: 33px;
    left: 1384px;
    top: 62px;

}