.wellcome {
    position: absolute;
    width: 40vw;
    height: 74px;
    left: 33vw;
    top: 280px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
    text-align: center;

    color: #FFFFFF;
}
.translate-icon {
    margin-top: 45px;
    width: 63px;
    height: 60px;   
    display: inline-block;

    background: url(../../images/china.svg);
}
.btn-getStart{
    margin-top: 60px;
width: 414px;
height: 68px;

display: inline-block;
background: #02A870;
border-radius: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}